<nav class="navbar navbar-expand-sm navbar-light">
    <ul class="navbar-nav bg-primary mr-3 rounded">
        <li class="nav-item ">
            <a class="text-white nav-link" routerLink="/">Информация</a>
        </li>
        <li class="nav-item">
            <a class="text-white nav-link" routerLink="/group/1">IT отдел</a>
        </li>
        <li class="nav-item ">
            <a class="text-white nav-link" routerLink="/group/2">Отдел продаж</a>
        </li>
        <li class="nav-item ">
            <a class="text-white nav-link" routerLink="/group/3">Отдел доставки</a>
        </li>
        <li class="nav-item ">
            <a class="text-white nav-link" routerLink="/group/4">Юридический отдел</a>
        </li>
    </ul>
    <a class="btn btn-primary" routerLink="/addworker">Добавить сотрудника</a>
</nav>