<ng-container>
    <h1 *ngIf="group == 1">IT отдел</h1>
    <h1 *ngIf="group == 2">Отдел продаж</h1>
    <h1 *ngIf="group == 3">Отдел доставки</h1>
    <h1 *ngIf="group == 4">Юридический отдел</h1>
    <div class="instruments col-4">
        <span class="selection">Сортировать по:</span>
        <form [formGroup]='sortForm'>
            <select formControlName="sortType" class="custom-select" (click)="currentInstrument() ">
        <option [ngValue]='"higherId"'>
         возрастанию id
        </option>
        <option [ngValue]='"lowerId"'>
         убыванию id
        </option>
        <option [ngValue]='"higherAge"'>
         возрастанию возраста
        </option>
        <option [ngValue]='"lowerAge"'>
         убыванию возраста
        </option>
      </select>
        </form>
    </div>
    <div class="filter" *ngIf="!instruments">
        <div class="col-12 mt-5">
            <span>Фильтр по имени или фамилии</span>
        </div>
        <div class="col-4">
            <input type="text" class="form-control" placeholder="Имя Фамилия" [(ngModel)]="searchStr" />
        </div>
    </div>
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Отчество</th>
                <th scope="col">Телефон</th>
                <th scope="col">Почта</th>
                <th scope="col">Возраст</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="
          let worker of workers
            | group: group
            | sortBy: sortType
            | workersfilter: searchStr
        ">
                <th>{{ worker.id }}</th>
                <td *ngIf="!worker.edit">{{ worker.name }}</td>
                <td *ngIf="!worker.edit">{{ worker.surname }}</td>
                <td *ngIf="!worker.edit">{{ worker.patronymic }}</td>
                <td *ngIf="!worker.edit">{{ worker.phone }}</td>
                <td *ngIf="!worker.edit">{{ worker.email }}</td>

                <td *ngIf="worker.edit">
                    <input type="text" [(ngModel)]="worker.name" />
                </td>
                <td *ngIf="worker.edit">
                    <input type="text" [(ngModel)]="worker.surname" />
                </td>
                <td *ngIf="worker.edit">
                    <input type="text" [(ngModel)]="worker.patronymic" />
                </td>
                <td *ngIf="worker.edit">
                    <input type="text" [(ngModel)]="worker.phone" />
                </td>
                <td *ngIf="worker.edit">
                    <input type="text" [(ngModel)]="worker.email" />
                </td>
                <td *ngIf="worker.edit">
                    <input type="text" [(ngModel)]="worker.date" />
                </td>
                <td>{{ getAge(worker.date) }}</td>

                <td>
                    <button class="btn btn-outline-primary btn-sm" (click)="editThisWorker(worker)">
            Изменить
          </button>
                </td>
                <td>
                    <button class="btn btn-outline-danger btn-sm" (click)="deleteThisWorker(worker.id)">
            Удалить
          </button>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>